.topbar {
  background-color: #244572;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topbar-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
